<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 配置扫描路径:扫描爬虫对象为bean -->
	<context:component-scan base-package="com.stone.ripple.crawler">
		<context:include-filter type="aspectj"
			expression="com.stone.ripple.crawler..*Crawler" />
	</context:component-scan>

	<bean id="springUtil" class="com.stone.ripple.util.spring.SpringUtil" />

	<!-- 初始化爬虫url列表信息 -->
	<bean id="urlBean" class="com.stone.ripple.crawler.common.CrawlerUrlBean"
		init-method="initUrlStrategy" />

	<bean id="newsPath" class="java.lang.String">
		<constructor-arg value="/Users/stone/news" />
	</bean>

	<bean id="storyPath" class="java.lang.String">
		<constructor-arg value="/Users/stone/news" />
	</bean>

</beans>