.clearFix:after{content:'';display:block;height:0;overflow:hidden;clear:both;}
.clearFix{display:inline-block;}
.clearFix{display:block;}

.tab_t li{display:inline;}
.tab_t li.c a{border-bottom:1px solid #FFF;position:relative;}
.tab_t a{text-decoration:none;display:block;padding:2px 5px;border-right:1px solid #DDD;border-left:1px solid #DDD;border-top:1px solid #DDD;float:left;margin-right:2px; margin-top:3px;}
.tab_c .item{border:1px solid #DDD;margin-top:-1px;display:none;}
.tab_c .c{display:block;}

.navcontainer { float:right;}
.navcontainer ul li { float:right;} 
.navcontainer ul li a:hover,a.cun {color:#FFf;background:#d9205d} 
